:host {
  display: block;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: translateY(-1px);
  }
}

#viewerRoot:fullscreen,
#viewerRoot:-webkit-full-screen,
#viewerRoot:-moz-full-screen,
#viewerRoot:-ms-fullscreen {
  width: 100vw !important;
  // height: 100vh !important;
}
